<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CoursesTools Email</title>
		<style type="text/css">
			body {
				margin: 0;
			}
			table {
				border-spacing: 0;
			}
			td,
			p,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				padding: 0;
			}
			td,
			p,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			ul {
				margin: 0;
			}
			img {
				border: 0;
			}
			li {
				margin-left: 0;
			}
			.main {
				@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
			}
		</style>
	</head>
	<body>
		<center style="width: 100%; table-layout: fixed">
			<table
				class="main"
				style="
					padding: 20px 0;
					width: 100%;
					max-width: 600px;
					color: #fff;
					font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
					text-align: center;
					background-color: #000000;
					background-image: url('https://coursestools.com/emails/decor.jpg');
					background-size: 100%;
					background-repeat: no-repeat;
				"
			>
				<!-- HEADER -->
				<tr>
					<td style="text-align: center">
						<a href="https://coursestools.com"><img src="https://coursestools.com/emails/logo.png" alt="CoursesTools" width="190" style="border: 0" /></a>
					</td>
				</tr>
				<!-- BODY -->
				<tr>
					<td style="padding: 0">
						<table width="100%" style="border-spacing: 0; padding: 10px 20px">
							<tr>
								<td style="padding: 0; text-align: center"><hr /></td>
							</tr>
							<tr>
								<td style="padding: 20px 0 20px; text-align: center">
									<h1 style="margin: 0; font-size: 25px; font-family: 'Montserrat', Arial, Helvetica, sans-serif">
										Congratulations on joining <br />
										Courses Tools!
									</h1>
								</td>
							</tr>
							<tr>
								<td>
									<h5 style="text-transform: uppercase; color: #7e86f0; font-size: 16px; padding: 0 0 20px; font-family: 'Montserrat', Arial, Helvetica, sans-serif">
										Now you are a full-fledged Partner in the best community in the world of trading!
									</h5>
								</td>
							</tr>
							<!-- MODULE TEXT -->
							<tr>
								<td style="padding-bottom: 20px">
									<table
										style="
											width: 100%;
											border-spacing: 0;
											background-color: #101010;
											border: 1px #cccccc4d solid;
											border-radius: 10px;
											padding: 25px 15px;
											background-image: url('https://coursestools.com/emails/decor.jpg');
											background-size: 100%;
											background-repeat: no-repeat;
										"
									>
										<tr>
											<td>
												<p style="font-size: 14px">
													Your Curator will help you to settle in and make the first steps on our platform.  If you registered without a partner code, a Curator will be assigned within 24 hours. 
													<br /><br />
													Anyway now you can ask questions to the bot, trust us, it will do its best!
													<br /><br />
													So now it’s time to begin! <br /><br />
													Use top professional trading tools to the full!
												</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- END MODULE TEXT -->
							<!-- MODULE 1 -->
							<tr>
								<td style="padding-bottom: 20px">
									<table
										style="
											width: 100%;
											border-spacing: 0;
											background-color: #101010;
											border: 1px #cccccc4d solid;
											border-radius: 10px;
											padding: 20px 15px;
											background-image: url('https://coursestools.com/emails/decor.jpg');
											background-size: 100%;
											background-repeat: no-repeat;
										"
									>
										<tr>
											<td>
												<h4 align="left" style="font-size: 16px; padding: 0 0 10px; font-family: 'Montserrat', Arial, Helvetica, sans-serif">How to setup the indicators</h4>
											</td>
										</tr>
										<tr>
											<td style="padding-bottom: 20px">
												<ul style="text-align: left; list-style-position: outside; padding-left: 15px; font-size: 14px">
													<li style="margin-bottom: 15px">Enter your Trading View Username in the field on the <b>Settings tab</b>, click on dashboard “Get Trial” button</li>
													<li style="margin-bottom: 15px">While the request is being processed, you will see a yellow “activating” status.</li>
													<li style="margin-bottom: 15px">When access is granted, you will see a green “active” status</li>
													<li style="margin-bottom: 15px">When your 3-days trial is expired, you will see a gray “expired” status</li>
													<li style="margin-left: 0">Trial period is granted only once during registration.</li>
												</ul>
											</td>
										</tr>
										<tr>
											<td style="padding: 0 0 10px; text-align: left"><p>After you see the green “active” status, Add indicators to your favorites using links:</p></td>
										</tr>
										<tr>
											<td>
												<table>
													<tr>
														<td style="padding: 10px 0; text-align: left">
															<img src="https://coursestools.com/emails/checked.png" style="vertical-align: middle" alt="checked-1-1" border="0" width="16"/>
															<a href="https://www.tradingview.com/script/onxzck62-World-Class-SMC-WinWorld/" style="font-size: 14px; margin-left: 10px; vertical-align: middle; color: white">World Class SMC</a>
														</td>
													</tr>
													<tr>
														<td style="padding: 10px 0; text-align: left">
															<img src="https://coursestools.com/emails/checked.png" style="vertical-align: middle" alt="checked-1-1" border="0" width="16"/>
															<a href="https://www.tradingview.com/script/rcThwGGY-MTF-Workbench-WinWorld/" style="font-size: 14px; margin-left: 10px; vertical-align: middle; color: white">MTF Workbench </a>
														</td>
													</tr>
													<tr>
														<td style="padding: 10px 0; text-align: left">
															<img src="https://coursestools.com/emails/checked.png" style="vertical-align: middle" alt="checked-1-1" border="0" width="16"/>
															<a href="https://www.tradingview.com/script/ltwVYteS-ICSM-Impulse-Correction-SCOB-Mapper-WinWorld/" style="font-size: 14px; margin-left: 10px; vertical-align: middle; color: white">Impulse-Correction SCOB Mapper</a>
														</td>
													</tr>
													<tr>
														<td style="padding: 10px 0; text-align: left">
															<img src="https://coursestools.com/emails/checked.png" style="vertical-align: middle" alt="checked-1-1" border="0" width="16"/>
															<p style="display: inline-block;font-size: 14px; margin-left: 10px; vertical-align: middle; color: white">Phractal SMC</p>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td style="padding: 10px 0; text-align: left"><p>Scroll to the end of description and press the button “Add to Favorite indicators”</p></td>
										</tr>
										<tr>
											<td>
												<img width="100%" style="border-radius: 5px; margin: 0 0 20px" src="https://coursestools.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhow-to-setup.35e673e0.png&w=3840&q=100" alt="4c0bdbe5a1e051be908182a41275696e" border="0" />
											</td>
										</tr>
										<tr>
											<td>
												<ul style="text-align: left; list-style-position: outside; padding-left: 15px; font-size: 14px">
													<li style="padding: 7px 0">Remove the indicator from the chart.</li>
													<li style="padding: 7px 0">Reload TradingView (ctrl+f5 / ctrl+R).</li>
													<li style="padding: 7px 0">Add the indicator again.</li>
												</ul>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- END MODULE 1 -->
							<!-- MODULE 1.2 -->
							<tr>
								<td style="padding-bottom: 20px">
									<table
											style="
											width: 100%;
											border-spacing: 0;
											background-color: #101010;
											border: 1px #cccccc4d solid;
											border-radius: 10px;
											padding: 20px 15px;
											background-image: url('https://coursestools.com/emails/decor.jpg');
											background-size: 100%;
											background-repeat: no-repeat;
										"
									>
										<tr>
											<td>
												<h4 align="left" style="font-size: 16px; padding: 0 0 10px; font-family: 'Montserrat', Arial, Helvetica, sans-serif">To connect Telegram Alerts:</h4>
											</td>
										</tr>
										<tr>
											<td style="padding-bottom: 20px">
												<ul style="text-align: left; list-style-position: outside; padding-left: 15px; font-size: 14px">
													<li style="margin-bottom: 15px">Go to the Settings tab at your CoursesTools account</li>
													<li style="margin-bottom: 15px">Link your Telegram ID</li>
													<li style="margin-bottom: 15px">Follow <a href="https://t.me/coursestools_wcsmc_bot" style="color: #3b82f6">@coursestools_wcsmc_bot</a></li>
													<li style="margin-left: 0">Click “Start” button and <a href="https://www.youtube.com/shorts/E70pAaWjrXk" style="color: white;">set up the bot</a></li>
												</ul>
											</td>
										</tr>
										<tr>
											<td style="padding: 0 0 10px; text-align: left"><p>Receive notification on chosen events directly to your Telegram!</p></td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- END MODULE 1.2 -->
							<!-- MODULE 2 -->
							<tr>
								<td style="padding-bottom: 20px">
									<table
										style="
											width: 100%;
											border-spacing: 0;
											background-color: #101010;
											border: 1px #cccccc4d solid;
											border-radius: 10px;
											padding: 25px 15px;
											background-image: url('https://coursestools.com/emails/decor.jpg');
											background-size: 100%;
											background-repeat: no-repeat;
										"
									>
										<tr>
											<td>
												<img src="https://coursestools.com/emails/Vector-1.png" alt="" width="44" />
											</td>
										</tr>
										<tr>
											<td><h6 style="font-family: 'Montserrat', Arial, Helvetica, sans-serif; font-size: 16px; padding: 15px 0 10px">Master trading strategies!</h6></td>
										</tr>
										<tr>
											<td>
												<p style="font-size: 12px">
													Hope you have already started with basic strategies, but it will go better with a study plan. Decide what you want and how you want to learn and create your own education program. You will be provided with more education
													materials by your Curator on demand. Feel free to ask questions on any topics you don't understand in the Courses Tools Discord channel, be sure you'll get help!
												</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- END MODULE 2 -->
							<!-- MODULE 3 -->
							<tr>
								<td>
									<table
										style="
											width: 100%;
											border-spacing: 0;
											background-color: #101010;
											border: 1px #cccccc4d solid;
											border-radius: 10px;
											padding: 25px 15px;
											background-image: url('https://coursestools.com/emails/decor.jpg');
											background-size: 100%;
											background-repeat: no-repeat;
										"
									>
										<tr>
											<td>
												<img src="https://coursestools.com/emails/Vector-2.png" alt="" width="44" />
											</td>
										</tr>
										<tr>
											<td><h6 style="font-family: 'Montserrat', Arial, Helvetica, sans-serif; font-size: 16px; padding: 15px 0 10px">Make your first steps in Business Program</h6></td>
										</tr>
										<tr>
											<td>
												<p style="font-size: 12px">
													Get started by setting your goals and planning your development in our Business Program. You are now a partner and can count on our full support. There are a lot of materials on development and building your team in our
													Discord channel, and again feel free to address any issues that arise to the community! By the way, after the first partner who joins using your code, you will become a Curator yourself. Nobody said it would be easy!
												</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- END MODULE 3 -->
							<!-- MODULE 4 -->
							<tr>
								<td style="padding-top: 20px">
									<h3
										style="
											border-spacing: 0;
											background-color: #000000;
											border: 1px #cccccc4d solid;
											border-radius: 10px;
											padding: 60px 15px;
											background-image: url('https://coursestools.com/_next/static/media/ready.d1ec7783.jpg');
											background-size: cover;
											background-repeat: no-repeat;
											text-transform: uppercase;
											font-weight: bold;
											font-size: 18px;
										"
									>
										Ready? Set! Go! <br /><br />Sincerely yours, Courses Tools.
									</h3>
								</td>
							</tr>
							<!-- END MODULE 4 -->
							<!-- FOOTER -->
							<tr>
								<td>
									<table style="border-spacing: 0; width: 100%; padding-top: 40px">
										<tr>
											<td>
												<p style="font-size: 16px; padding-bottom: 10px">If you have any questions, you are welcome to contact us by email</p>
											</td>
										</tr>
										<tr>
											<td style="text-align: center; padding-bottom: 20px"><a style="color: white; font-size: 16px" href="mailto:hello@winworld.com">hello@winworld.com</a></td>
										</tr>
										<tr>
											<td>
												<table style="border-spacing: 0; width: 100%">
													<tr>
														<td style="text-align: right; padding: 0 10px">
															<a href="https://t.me/WorldClassSMC"><img width="24" src="https://coursestools.com/emails/Telegram.png" alt="Telegram" border="0" /></a>
														</td>
														<td style="text-align: left; padding: 0 10px">
															<a href="https://discord.gg/fHr4MbjTgN"><img width="24" src="https://coursestools.com/emails/Discord.png" alt="Discord" border="0" /></a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- END FOOTER -->
						</table>
					</td>
				</tr>
			</table>
			<!-- End Main Class -->
		</center>
		<!-- End Wrapper -->
	</body>
</html>
