<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CoursesTools Email</title>
    <style type="text/css">
        body {
            margin: 0;
        }

        table {
            border-spacing: 0;
        }

        td,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0;
        }

        td,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul {
            margin: 0;
        }

        img {
            border: 0;
        }

        li {
            margin-left: 0;
        }

        .main {
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
        }
    </style>
</head>
<body>
<center style="width: 100%; table-layout: fixed">
    <table
            class="main"
            style="
					padding: 20px 0;
					width: 100%;
					max-width: 600px;
					color: #fff;
					font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
					text-align: center;
					background-color: #000000;
					background-image: url('https://coursestools.com/emails/decor.jpg');
					background-size: 100%;
					background-repeat: no-repeat;
				"
    >
        <!-- HEADER -->
        <tr>
            <td style="text-align: center">
                <a href="https://coursestools.com"><img src="https://coursestools.com/emails/logo.png" alt="CoursesTools"
                                                        width="190" style="border: 0"/></a>
            </td>
        </tr>
        <!-- BODY -->
        <tr>
            <td style="padding: 0">
                <table width="100%" style="border-spacing: 0; padding: 10px 20px">
                    <tr>
                        <td style="padding: 0; text-align: center">
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 40px; text-align: center">
                            <h1 style="margin: 0; font-size: 25px; font-family: 'Montserrat', Arial, Helvetica, sans-serif">
                                Your Courses Tools subscription is active again!</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; font-size: 16px; padding-bottom: 20px">
                            <p>
                                Hello, Partner! <br>
                                We are glad to inform you that your subscription is restored! <br><br>

                                If the indicators do not work you should do the following <br><br>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 20px;">
                            <ul style="text-align: left;padding-left: 15px">
                                <li> Remove the indicator from the chart.</li>
                                <li>Reload TradingView (ctrl+f5 / ctrl+R).</li>
                                <li>Add the indicator again.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; font-size: 16px">
                            <p>
                                If there are any issues, please contact our support <br/><br/>
                                Sincerely yours, Courses Tools.
                            </p>
                        </td>
                    </tr>
                    <!-- FOOTER -->
                    <tr>
                        <td>
                            <table style="border-spacing: 0; width: 100%; padding-top: 40px">
                                <tr>
                                    <td>
                                        <p style="font-size: 16px; padding-bottom: 10px">If you have any questions, you
                                            are welcome to contact us by email</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; padding-bottom: 20px"><a
                                            style="color: white; font-size: 16px" href="mailto:hello@winworld.com">hello@winworld.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="border-spacing: 0; width: 100%">
                                            <tr>
                                                <td style="text-align: right; padding: 0 10px">
                                                    <a href="https://t.me/WorldClassSMC"><img width="24"
                                                                                              src="https://coursestools.com/emails/Telegram.png"
                                                                                              alt="Telegram"
                                                                                              border="0"/></a>
                                                </td>
                                                <td style="text-align: left; padding: 0 10px">
                                                    <a href="https://discord.gg/fHr4MbjTgN"><img width="24"
                                                                                                 src="https://coursestools.com/emails/Discord.png"
                                                                                                 alt="Discord"
                                                                                                 border="0"/></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- END FOOTER -->
                </table>
            </td>
        </tr>
    </table>
    <!-- End Main Class -->
</center>
<!-- End Wrapper -->
</body>
</html>